<h1>Rails 掲示板アプリ</h1>
<%= form_with model: @post, html: {class: "form-container"} do |form| %>

<div class="form-input">
  <%= form.label :title %> <%= form.text_field :title %></div>
  
<div class="form-input">
  <%= form.label :content %> <%= form.text_area :content %></div>
  
<div class="botton-container">
  <%= form.submit"更新" , class: "link-button" %></div>
<% end %>