<h1>Rails 掲示板アプリ</h1>

<div class="button-container">
  <%= link_to"新しい投稿",new_post_path, class: "link-button" %></div>

<ul>
  <% @posts.each do |post| %>
  <li>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <span>
      <small><%= post.created_at %></small>
    </span>
    <div class="edit-delete-wrapper">
      <%= link_to"編集",edit_post_path(post), class: "link-button" %>
      <%= button_to"削除", post_path(post), method: :delete, class: "link-delete-button" %>
    </div>
  </li>
  <% end %>
</ul>